*{
    padding: 0;
    margin: 0;
}

.navb{
    padding: 0 10px;
    height: 100px;
}

.font{
    font-size: 13px !important;
}

.breadcrumb-item::before{
    content: "" !important;
}

.nv:hover{
    background-image: linear-gradient(white 50%, #fddd7b 50%) !important;
    height: 31px;
}

.image{
    transform: translate(-60px, 40px);
    height: 470px !important;
}

.content{
    margin-left: 100px !important;
}

.through{
    text-decoration: line-through;
}

.icons{
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    font-size: 1.5rem;
}

.nav-link-1 .fa-shopping-bag {
    position: relative;
    color: black;
    cursor: pointer;
}
.nav-link-1 .fa-circle {
    position: absolute;
    font-size: 1em;
    top: 10px;
    color: yellow;
    right: 21px;
}
.nav-link-1 .num {
    position: absolute;
    font-size: 0.8em;
    top: 9px;
    color: black;
    right: 26px;
}

.sticky{
    position: sticky;
    top: 40%;
}

.py{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.inp{
    width: 2.5em;
    background-color: #e6e6e6;
    text-align: center;
    border: transparent;
}

hr{
    width: 80%;
}

.sidedetails h1{
    color: white;
    font-size: 8rem;
    letter-spacing: 10px;
    font-weight: 1000;
    top: 50%;
    left: -120px;
    position: fixed;
    transform: rotate(-90deg);
}
