/* upto large */
@media (max-width: 992px){
    .shop{
        flex-direction: row !important;
    }

    .shop .fa-search,.fa-heart,.fa-shopping-bag{
        font-size: 1.5em;
    }

    .selecting{
        background: #fddd7b;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #fddd7b,  #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #fddd7b, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .nav-link-1 .fa-circle {
        position: absolute;
        font-size: 1em;
        top: 45px;
        color: #ffc107;
        right: 21px;
    }

    .nav-link-1 .num {
        position: absolute;
        font-size: 0.8em;
        top: 44px;
        color: black;
        right: 26px;
    }

    .content{
        padding-left: 20px;
    }

    .sticky{
        display: flex;
        flex-direction: row;
        background-color: white;
        justify-content: center;
        border-top: 1px solid black;
    }

    .sticky li{
        padding: 20px;
    }

    .sticky li a{
        color: black;
    }

    .sticky li:hover{
        background-color: #ffc107 !important;
        color: white !important;
    }

    .de .row .col-lg-3{
        padding: 0 !important;
    }

}

/* large and after */
@media (min-width: 992px){
    .content{
        margin-left: 100px !important;
    }

    .py{
        margin-top: 2.5rem;
        margin-bottom: 2.5rem; 
    }

    .sticky{
        padding-top: 60px;
    }

    .flex-cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .int-flex-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 40px;

    }

    .int-flex-cont1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 40px;
        
    }

    .overlap-text{
        left: -235px !important;
    }

    .sticky{
        padding-bottom: 10rem !important;
    }

}

/* medium */
@media (min-width: 768px) and (max-width:992px){

    .sticky{
        margin-left: 3rem !important;
    }

    .image{
        height: 350px !important;
    }

    .flex-cont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .int-flex-cont{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 40px;

    }

    .int-flex-cont1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 40px;
    }

    .selected{
        background-color: #ffc107 !important;
    }

    .selected a{
        color: white !important;
    }

    .navb{
        flex-wrap: unset !important;
    }

    .nav-link-1 .fa-circle {
        position: absolute;
        font-size: 1em;
        top: 30px;
        color: #ffc107;
        right: 21px;
    }

    .nav-link-1 .num {
        position: absolute;
        font-size: 0.8em;
        top: 29px;
        color: black;
        right: 26px;
    }

    .overlap-text{
        left: -194px !important;
        max-width: 445px;
        padding-bottom: 30px;
    }

    .invert{
        padding-left: 2% !important;
        top: 108px !important;
    }
}

/* upto small */
@media (max-width: 768px){
    .smcont{
        margin: 30px;
        flex: unset !important;
    }

    .row{
        margin-left :0 !important;
    }

    .image{
        padding: 25px;
        transform: translate(0, -70px);
    }

    .sticky{
        margin-left: 0 !important;
    }

    .de{
        padding: 0 !important;
    }
}

/* for small */
@media (min-width: 576px) and (max-width: 768px){
    .navbar{
        flex-wrap: wrap-reverse !important;
    }

    .nav-link-1 .fa-circle {
        position: absolute;
        font-size: 1em;
        top:15px;
        color: #ffc107;
        right: 21px;
    }

    .nav-link-1 .num {
        position: absolute;
        font-size: 0.8em;
        top: 14px;
        color: black;
        right: 26px;
    }

    #description{
        margin: 5% !important;
        background-color: white;
    }

    #description2{
        margin: 5% 5% 10% 5% !important;
    }

    .pt{
        max-width: 85% !important;
        padding-top: 82%;
    }

    .img2{
        position: unset;
        padding: 20px;
    }

    .plex{
        position: absolute !important;
    }

    .overlap-text{
        position: unset;
        background-color: white;
        top: 0%;
        left: 0;
        max-width: 95%;
    }

    .col-lg-9, .col-lg-11, .col-md-6, .col-sm-12{
        padding: 0 !important;
    }

    .row{
        margin: 0 !important;
    }

    .overlap-text1{
        position: unset;
        background-color: white;
        margin: auto;
        padding-top: 105% !important;
        padding-bottom: 50px !important;
        max-width: 460px;
    }

    iframe{
        position: absolute;
        width: 112% !important;
        left: -6%;
        top: 4%;
    }

    .pdf{
        top:0px;
        bottom: unset;
        right: 30px;
    }

    .navbar-brand{
        padding-left: 70px !important;
        line-height: initial !important;
    }

    .selected{
        background-color: #ffc107;
    }

    .selected a{
        color: white !important;
    }

    .det{
        padding-left: 75px !important;
    }

    .invert{
        top: 116px !important;
        left: -60px;
    }

    .thumb{
        max-width: 60% !important;
        left: 30px;
        bottom: 50px;
    }

    .img3{
        max-width: 95% !important;
        height: 565px !important;
    }

    .comments{
        width: 22% !important;
    }

    #p0{
        padding-top: 2px !important;
    }

    .smcont{
        margin-top: 100px;
    }

    .flex-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .int-flex-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .int-flex-cont1 a{
        padding: 10px;
    }

    .int-flex-cont p{
        text-align: center;
    }

    .int-flex{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 2em;
    }

    .foot hr{
        margin-top: 20px !important;
    }

    .nav-link-1 .fa-circle {
        position: absolute;
        font-size: 1em;
        top: 25px;
        color: #ffc107;
        right: 21px;
    }

    .nav-link-1 .num {
        position: absolute;
        font-size: 0.8em;
        top: 24px;
        color: black;
        right: 26px;
    }
}

/* custom breakpoint */
@media (max-width:1150px){
    .sidedetails, .sidedescrip, .sidedescrip1, .sidedescrip2, .sidereviews, .siderelated{
        display: none;
    }

    .overlap-text{
        left: -170px !important;
    }
}

@media (max-width:1256px){
    .overlap-text{
        left: -210px;
    }
}

@media (max-width:1236px){
    .overlap-text{
        left: -180px !important;
    }
}

@media (max-width:830px){
    .overlap-text{
        left: -160px !important;
    }
}

@keyframes width_right{
    from{width:0;}
    to{width:100%;}
}